<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addDetail</title>
    <!--<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.js"></script>-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.9&key=2b35126bc659f27d0df08adab38be5bc&plugin=AMap.AdvancedInfoWindow,AMap.Autocomplete,AMap.Geocoder"></script>

    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
</head>
<body>
<div id="app">
    <el-col :span="12" :offset="6">
        <div class="grid-content bg-purple">
            <h1>登记活动</h1>
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="活动名称">
                    <el-input placeholder="活动名称" v-model="form.title"></el-input>
                </el-form-item>
                <el-form-item label="位置名称">
                    <el-input placeholder="详细位置能够帮助别人找到你哦" v-model="form.positionname">
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-input placeholder="经纬度" v-model="form.position">
                        <template slot="prepend">经纬度</template>
                    </el-input>
                </el-form-item>
                <el-form-item label="活动时间">
                    <el-col :span="8">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form.starttime" style="width: 100%;"></el-date-picker>
                    </el-col>
                    <el-col class="line" :span="1">---</el-col>
                    <el-col :span="8">
                        <!--<el-time-picker type="fixed-time" placeholder="选择时间" v-model="form.date2" style="width: 100%;"></el-time-picker>-->
                        <el-time-select v-model="form.date2" :picker-options="{start: '06:00',step: '00:30',end: '24:00'}" placeholder="选择时间"></el-time-select>
                    </el-col>
                </el-form-item>
                <el-form-item label="活动人数">
                    <el-radio-group v-model="form.amount">
                        <el-radio-button label="1" >5人以下</el-radio-button>
                        <el-radio-button label="2">6-15人</el-radio-button>
                        <el-radio-button label="3">16-50人</el-radio-button>
                        <el-radio-button label="4">51以上</el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="活动类型">
                    <!--<el-checkbox-group v-model="form.type">
                        <el-checkbox v-for="(type,key) in form.types" :key="key" :label="type.name" :value="type.typeid"></el-checkbox>
                    </el-checkbox-group>-->
                    <el-radio-group v-model="form.type">
                        <el-radio v-for="(type,key) in form.types" :key="key" :label="type.typeid" @change="checkOther">{{type.name}}</el-radio>
                    </el-radio-group>
                    <el-input placeholder="请注明活动类型" v-model="form.other" :disabled="form.isdisable">
                        <template slot="prepend">其他</template>
                    </el-input>
                </el-form-item>
                <el-form-item label="活动简介">
                    <el-input type="textarea" placeholder="介绍下活动呗，虽然也可以不介绍" v-model="form.content" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="getData">立即创建</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-col>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function getQueryVariable(variable)
{
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        if(pair[0] == variable){return pair[1];}
    }
    return(false);
}

new Vue({
    el: '#app',
    data() {
        return {
            form: {
                title: '',
                starttime: '',
                date2: '',
                // delivery: false,
                type: [],
                // resource: '',
                // desc: '',
                // types: [{"typeid":1,"name":"蹦迪"},{"typeid":2,"name":"吃饭"},{"typeid":3,"name":"广场舞"},{"typeid":4,"name":"吹水"},{"typeid":5,"name":"兜风"},{"typeid":6,"name":"散步"}],
                types: [],
                // country: '',
                // province: '',
                // city: '',
                amount: '1',
                other: '',
                positionname: '',
                position: '',
                isdisable:false,
                content: ''
            }
        }
    },
    created: function () {
        let self = this
        console.log('初始化本页')
        // 初始化表单
        axios.post('http://localhost:8080/getForm', {}, {
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            withCredentials: false
        }).then(function (response) {
            // 这里是处理正确的回调
            console.log('Base form response.data : ')
            console.log(response.data)
            // sessionStorage.axiosData = response.data
            // self.axiosData = response.data
            self.form.types = response.data.types
            self.form.starttime = response.data.todayDate
            self.form.date2 = response.data.suggestTime
        }).catch(function (response) {
            // 这里是处理错误的回调
            console.log('错误')
            console.log(response)
        })

        // 初始化activity内容
        axios.post('http://localhost:8080/getActivityDetail', {activityid:getQueryVariable("activity")}, {
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            withCredentials: false
        }).then(function (response) {
            // 这里是处理正确的回调
            console.log('Activity response.data : ')
            console.log(response.data)
            self.form.title = response.data.title
            self.form.position = response.data.position
            self.form.type = parseInt(response.data.type)
            self.checkOther(parseInt(response.data.type))
            // var out = reCoder(response.data.position)
            // console.log(out)
            // console.log(loca)
            // console.log(regeocoder(response.data.position))
            // self.form.positionname = regeocoder(response.data.position)
            var geocoder = new AMap.Geocoder({
                radius: 1000,
                extensions: "all"
            });
            geocoder.getAddress(response.data.position, function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    // return geocoder_CallBack(result);
                    console.log(result.regeocode.formattedAddress)
                    self.form.positionname=result.regeocode.formattedAddress
                    // location = result.regeocode.formattedAddress.toString();
                    // return result.regeocode.formattedAddress;
                }
            });
        }).catch(function (response) {
            // 这里是处理错误的回调
            console.log('错误')
            console.log(response)
        })
    },
    methods: {
        getData: function () {
            let self = this
            console.log(self.form)
            axios({
                method:'post',
                url:'http://localhost:8080/postMsg',
                data:{
                    // form : self.form
                    activityid:getQueryVariable("activity"),
                    title:self.form.title,
                    position:self.form.position,
                    positionname:self.form.positionname,
                    starttime:self.form.starttime+'T'+self.form.date2,
                    type:self.form.type,
                    other:self.form.other,
                    content:self.form.content,
                    amount:self.form.amount
                }
            }).then(function (response) {
                console.log(response.data)
            })
        },
        checkOther(data){
            // console.log(data)
            if (data==7){
                this.form.isdisable=false
            }else{
                this.form.isdisable=true

            }
        }
    }
})
</script>
<script>
    /*var address
    // lnglatXY = [116.396574, 39.992706]; //已知点坐标
    function regeocoder(lnglat) {  //逆地理编码
        // var location
        var geocoder = new AMap.Geocoder({
            radius: 1000,
            extensions: "all"
        });
        geocoder.getAddress(lnglat, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
                // return geocoder_CallBack(result);
                console.log(result.regeocode.formattedAddress)
                address=result.regeocode.formattedAddress
                // location = result.regeocode.formattedAddress.toString();
                // return result.regeocode.formattedAddress;
            }
        });
        return address
    }*/
    /*function geocoder_CallBack(data) {
        var address = data.regeocode.formattedAddress; //返回地址描述
        // document.getElementById("result").innerHTML = address;
        console.log(address)
        return address;
    }*/
</script>
</html>