<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addDetail</title>
    <!--<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.js"></script>-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
</head>
<body>
<div id="app">
    <el-col :span="12" :offset="6">
        <div class="grid-content bg-purple">
            <h1>登记活动</h1>
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="活动名称">
                    <el-input placeholder="活动名称" v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="活动区域">
                    <el-select v-model="form.country" placeholder="国家">
                        <el-option label="中国" value="shanghai"></el-option>
                        <el-option label="美国" value="beijing"></el-option>
                        <el-option label="其他" value="beijing"></el-option>
                    </el-select>
                    <el-select v-model="form.province" placeholder="省份">
                        <el-option label="广东" value="shanghai"></el-option>
                        <el-option label="北京" value="beijing"></el-option>
                        <el-option label="其他" value="beijing"></el-option>
                    </el-select>
                    <el-select v-model="form.city" placeholder="市县">
                        <el-option label="广州" value="shanghai"></el-option>
                        <el-option label="顺德" value="beijing"></el-option>
                        <el-option label="其他" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-input placeholder="具体地点" v-model="form.area">
                        <template slot="prepend">具体地点</template>
                    </el-input>
                </el-form-item>
                <el-form-item label="活动时间">
                    <el-col :span="11">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
                    </el-col>
                    <el-col class="line" :span="2">-</el-col>
                    <el-col :span="11">
                        <el-time-picker type="fixed-time" placeholder="选择时间" v-model="form.date2" style="width: 100%;"></el-time-picker>
                    </el-col>
                </el-form-item>
                <el-form-item label="活动人数">
                    <el-radio-group v-model="form.amount">
                        <el-radio-button label="5人以下"></el-radio-button>
                        <el-radio-button label="6-15人"></el-radio-button>
                        <el-radio-button label="16-50人"></el-radio-button>
                        <el-radio-button label="51以上"></el-radio-button>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="活动类型">
                    <el-checkbox-group v-model="form.type">
                        <el-checkbox v-for="(type,key) in form.types" :key="key" :label="type.name" :value="type.typeid"></el-checkbox>
                    </el-checkbox-group>
                    <el-input placeholder="请注明活动类型" v-model="form.other">
                        <template slot="prepend">其他</template>
                    </el-input>
                </el-form-item>
                <el-form-item label="活动简介">
                    <el-input type="textarea" placeholder="介绍下活动呗" v-model="form.desc" :autosize="{ minRows: 4, maxRows: 8}"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="getData">立即创建</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-col>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: '#app',
    /*data: function() {
        var form = {
            name: '',
            date1: '',
            date2: '',
            delivery: false,
            type: [],
            resource: '',
            desc: '',
            // types: [{"typeid":1,"name":"蹦迪"},{"typeid":2,"name":"吃饭"},{"typeid":3,"name":"广场舞"},{"typeid":4,"name":"吹水"},{"typeid":5,"name":"兜风"},{"typeid":6,"name":"散步"}],
            types: [],
            country: '',
            province: '',
            city: '',
            amount: '',
            other: '',
            area: ''
        }
        return { form }
    }*/
    data() {
        return {
            form: {
                name: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: '',
                // types: [{"typeid":1,"name":"蹦迪"},{"typeid":2,"name":"吃饭"},{"typeid":3,"name":"广场舞"},{"typeid":4,"name":"吹水"},{"typeid":5,"name":"兜风"},{"typeid":6,"name":"散步"}],
                types: [],
                country: '',
                province: '',
                city: '',
                amount: '',
                other: '',
                area: ''
            }
        }
    },
    created: function () {
        let self = this
        console.log('初始化本页')
        axios.post('http://localhost:8080/getForm', {}, {
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            withCredentials: true
        }).then(function (response) {
            // 这里是处理正确的回调
            console.log('reponse.data : ')
            console.log(response.data)
            // sessionStorage.axiosData = response.data
            // self.axiosData = response.data
            self.form.types = response.data.types
            self.form.date1 = response.data.todayDate
            self.form.date2 = response.data.suggestTime
        }).catch(function (response) {
            // 这里是处理错误的回调
            console.log('错误')
            console.log(response)
        })
    },
    methods: {
        getData: function () {
            let self = this
            var token = localStorage.getItem('token')
            console.log('开始获取数据')
            axios.post('http://localhost:8080/', {}, {
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    'Authorization': 'Bearer ' + token
                },
                withCredentials: true
            }).then(function (response) {
                // 这里是处理正确的回调
                // console.log('response : ' + response)
                console.log('reponse.data : ')
                console.log(response.data)
                // sessionStorage.axiosData = response.data
                self.axiosData = response.data
            }).catch(function (response) {
                // 这里是处理错误的回调
                console.log('错误')
                console.log(response)
            })
        }
    }
})
</script>

</html>