<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>鼠标拾取地图坐标</title>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <style type="text/css">
        .info-title {
            color: white;
            font-size: 14px;
            background-color:blue;
            line-height: 26px;
            padding: 0px 0 0 6px;
            font-weight: lighter;
            letter-spacing: 1px
        }
        .info-content {
            font: 12px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial;
            padding: 4px;
            color: #666666;
            line-height: 23px;
        }
        .info-content img {
            float: left;
            margin: 3px;
        }
        ul li{
            list-style:none;
            /*width: 50%;*/
        }
    </style>
    <!--<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.9&key=2b35126bc659f27d0df08adab38be5bc&plugin=AMap.Autocomplete"></script>-->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.9&key=2b35126bc659f27d0df08adab38be5bc&plugin=AMap.AdvancedInfoWindow,AMap.Autocomplete"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.js"></script>
</head>
<body>
<div id="container"></div>
<div id="myPageTop">
    <table>
        <tr>
            <td>
                <label>按关键字搜索：</label>
            </td>
            <td class="column2">
                <label>左击获取经纬度：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="请输入关键字进行搜索" id="tipinput">
            </td>
            <td class="column2">
                <input type="text" readonly="true" id="lnglat">
            </td>
        </tr>
        <div id="typeslist" style="DISPLAY: none;">
            <div class="info-title">fun here</div>
            <div class="info-content">
                <!--<label class="btn">标题 : </label><input type="text" name="title"><br/>-->
                <!--<div class="form-group">
                    <label for="exampleFormControlInput1">标题</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="想玩点啥呗">
                </div>-->
                <div class="form-group row">
                    <label for="exampleFormControlInput1" class="col-sm-3 col-form-label"><h5>标题:</h5></label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="想玩点啥呗">
                    </div>
                </div>
                <!--<ul>
                    <li th:each="type:${types}">
                        &lt;!&ndash;<p th:text="${type}"></p>&ndash;&gt;
                        <label th:text="${type.name}"></label>
                        <input type="checkbox" name="type" th:value="${type.typeid}">
                    </li>
                </ul>-->
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary btn-sm checked">
                        <input type="radio" name="type" autocomplete="off" th:text="其他" th:value="other">
                    </label>
                    <label class="btn btn-outline-primary btn-sm" th:each="type:${types}">
                        <input type="radio" name="type" autocomplete="off" th:text="${type.name}" th:value="${type.typeid}">
                    </label>
                </div>
                <hr/>
                <div class="row justify-content-md-center">
                    <div class="col-sm-auto">
                        <input class="btn btn-primary btn-sm" type="submit" value="提交">
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>
<script type="text/javascript">
    var map = new AMap.Map("container", {
        resizeEnable: true
    });

    marker = new AMap.Marker({
        map: map,
        icon: 'https://webapi.amap.com/theme/v1.3/markers/n/mark_r.png',
        position: [116.405467, 39.907761]
    });
    //为地图注册click事件获取鼠标点击出的经纬度坐标
    var clickEventListener = map.on('click', function(e) {
        document.getElementById("lnglat").value = e.lnglat.getLng() + ',' + e.lnglat.getLat();
        console.log(e);
        var point=[e.lnglat.getLng(),e.lnglat.getLat()];
        marker.setPosition(point);
        infowindow2.open(map,point);
        document.getElementById("typeslist").style.display="";
    });
    var rightEventListener = map.on('contextmenu', function(e) {
        console.log(e);
        var point=[e.lnglat.getLng(),e.lnglat.getLat()];
        addMarker(e.lnglat.getLng(),e.lnglat.getLat());
        marker.setPosition(point);
        // infowindow2.open(map,point);
    });

    // 允许标记点自动选择
    var auto = new AMap.Autocomplete({
        input: "tipinput"
    });
    AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
    function select(e) {
        if (e.poi && e.poi.location) {
            map.setZoom(15);
            map.setCenter(e.poi.location);
        }
    }

    var text = new AMap.Text({
        text:'蹦迪',
        textAlign:'center', // 'left' 'right', 'center',
        verticalAlign:'middle', //middle 、bottom
        // draggable:true,
        // cursor:'pointer',
        angle:10,
        style:{
            'background-color':'pink',
            'border':'solid 1px #0088ff',
            'padding':'10px 20px'
        },
        position: [116.093666,40.060287]
    });
    text.setMap(map);

    // 获取生成types层叠
    var content3=document.getElementById("typeslist")
    console.log(content3)

    // 列表信息框体2
    /*var content2='<div class="info-title">在这玩</div><div class="info-content">' +
        '<label>标题</label><input type="text" name="title"><br/>' +
        '<h2>活动类型</h2>' +
        '<label>飙车</label><input type="checkbox" name="yi" value="yi">' +
        '<label>蹦迪</label><input type="checkbox" name="er" value="er">' +
        '<label>广场舞</label><input type="checkbox" name="san" value="san">' +
        '<br>' +
        '<input type="submit" value="提交">' +
        '</div>';*/
    // 信息框体
    /*var content='<div class="info-title">高德地图</div><div class="info-content">' +
        '<img src="https://webapi.amap.com/images/amap.jpg">' +
        '高德是中国领先的数字地图内容、导航和位置服务解决方案提供商。<br/>' +
        '<a target="_blank" href = "https://mobile.amap.com/">点击下载高德地图</a></div>';*/
    var  infowindow2 = new AMap.AdvancedInfoWindow({
        content: content3,
        asOrigin: false,
        asDestination: false,
        offset: new AMap.Pixel(0, -30)
    });


    // types点击按钮active切换
    /*$(document).ready(function(){
        $('ul > li').click(function (e) {
            e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });*/
</script>
</body>
</html>